<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('list_books') }}" class="nav-link">Livros</a>
        <a href="{{ url_for('add_book') }}" class="nav-link">Cadastrar Livros</a>
        <a href="{{ url_for('api_docs') }}" class="nav-link">API</a>
    </div>
    <div class="form-container">
        <form method="POST" action="{{ url_for('add_book') }}" enctype="multipart/form-data">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required>

            <label for="autor">Autor:</label>
            <input type="text" id="autor" name="autor" required>

            <label for="ano_publicacao">Ano de Publicação:</label>
            <input type="number" id="ano_publicacao" name="ano_publicacao" required>

            <label for="capa">Capa do Livro (.jpg):</label>
            <input type="file" id="capa" name="capa" accept=".jpg, .jpeg">

            <label>
                <input type="checkbox" id="disponivel" name="disponivel" checked>
                Disponível para Empréstimo
            </label>

            <button type="submit">Cadastrar Livro</button>
        </form>
    </div>
</body>

</html>